[authentication]
# Can be username and password, or token.
token = {{ sa_token }}
# -- or --
#username = 
#password = 

[connection]
# URL of api. For example: 'https://portal.example.com:8443'
api_url = {{ api_url }}
# Namespace to use
namespace = health-check
# application url without protocol
app_url = health-check.{{ default_domain }}

[behaviour]
# Delete namespace after succesful run
delete_ns = True
# How often to delete the namespace between runs set to 0 to never delete namespace.
max_attempts_between_deletes = 5
